.page {
  flex-grow: 1;
}

.container {
  display: flex;
  justify-content: space-between;
  min-height: 80px;
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.content {
  flex-grow: 1;
  margin-left: 20px;
}
