.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.counter {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-color: #3f51b5;
  color: #ffffff;
  line-height: 30px;
  text-align: center;
}

.title {
  margin: 0;
  line-height: 72px;
  font-size: 24px;
  color: #757575;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #212121;
  flex-grow: 1;
  padding: 15px 0;
  font-weight: 500;
}

.active {
  color: #2196f3;
}

.icon {
  margin-right: 5px;
}
