.container {
  margin-bottom: 20px;
  text-align: center;
}

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  right: auto;
  bottom: auto;
  background-color: #ffffff;
  padding: 2rem;
  max-width: 32rem;
  min-width: 20rem;
  border-radius: 2px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(48, 63, 159, 0.3);
}

ul {
  padding: 0;
}

.header {
  font-size: 1.5rem;
  color: #212121;
  margin-top: 0;
  margin-bottom: 1.5em;
  font-weight: 500;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.input {
  border: 0;
  border-bottom: 2px solid #212121;
  color: #212121;
  margin-bottom: 1.5rem;
  width: 100%;
  font-size: 1em;
  padding: 5px;
  outline: 0;
  font-family: inherit;
}

.input:focus {
  border-color: #2196f3;
}

.label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 3px solid #d5d5d5;
  color: #9e9e9e;
  margin-bottom: 1.5rem;
  font-size: 1em;
}

.select {
  border: 0;
  color: #9e9e9e;
  font-size: 1em;
  width: 28%;
  outline: none;
}

.option {
  text-align: right;
}

.label input {
  border: 0;
  color: #9e9e9e;
  font-size: 1em;
  text-align: right;
  outline: none;
}

.btnClose {
  position: absolute;
  top: 5px;
  right: 5px;
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
  border-radius: 50%;
}

.btnClose:hover,
.btnClose:focus {
  transform: scale(1.1);
}
