.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  color: #757575;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  margin-bottom: 15px;
}

.index {
  display: inline-block;
  font-size: 18px;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex: 0 0 60%;
}

.list_item {
  padding: 30px;
  margin-right: 10px;
  background-color: #ff5722;
}

.title {
  box-sizing: border-box;
  flex-basis: 37%;
  padding-left: 10px;
  word-wrap: break-word;
}

.sign {
  flex-basis: calc(100% / 6);
}

.button {
  display: inline-block;
  border: none;
  cursor: pointer;
  background-color: transparent;
  outline: 0;
}

.button:hover,
.button:focus {
  transform: scale(1.15);
}
